{% extends 'main.html' %}

{% load replace_month_name %}

{% block meta %}
    <meta name="description" content="{{ description|replace_month_name }}">
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block custom_styles %}
    <style>
        .calculator-desktop-form {
            display: none;
        }
        header {
            padding-bottom: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>{{ h1|replace_month_name }}</h1>
    <div class="container d-flex justify-content-center">
        <form class="page-calculation-form col-xl-9 col-lg-10" action="" method="get">
            <div class="form-row">
                <div class="col-xl-4 col-lg-4 col-md-5 col-12 form-group">
                    <label class="mb-0" for="datetime-peacker-page">Выберите дату рождения:</label>
                    {{ form.birthday_date }}
                    <div class="invalid-feedback">
                        {{ form.birthday_date.errors|first }}
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 offset-xl-1 offset-lg-1 offset-md-1 form-group">
                    <label class="mb-0">Пол:</label>
                    <div>
                        {% for choice in form.gender %}
                            <div class="custom-control custom-radio custom-control-inline">
                                {{ choice.tag }}
                                <label class="custom-control-label" for="{{ form.gender.field.widget.attrs.id }}_{{ forloop.counter0 }}">{{ choice.choice_label }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6 col-12 form-group">
                    <label class="mb-0" for="country">Страна:</label>
                    {{ form.country }}
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit">ПОСЧИТАТЬ</button>
            </div>
        </form>
    </div>
    {% if new_date != None %}
        <div class="container col-xl-9 col-lg-10 result">
            {{ gender }} {{ birthday|replace_month_name }} года рождения выйдет на пенсию
            {{ new_date|replace_month_name }} года в {{ age }} в {{ country_for_text }}.
        </div>
        <div class="container col-xl-9 col-lg-10 low">
            {{ low }}
        </div>
    {% endif %}
    <script type="text/javascript">
        window.onload = function() {
            var page_height = $("body > .container").height();
            var win_height = $(window).outerHeight();
            if(page_height < win_height) {
                var header_height = $("header").outerHeight();
                var footer_height = $("footer").outerHeight();
                var needed_height = win_height-header_height-footer_height;
                $("main").css('min-height', needed_height+'px');
            }
        };
    </script>
{% endblock %}