{% extends 'main.html' %}

{% load staticfiles %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
<div class="row">
    <section class="col">
        <div class="page-header">Новости</div>
        <div class="section-content">
            {% for object in objects %}
                <article>
                    <h2><a href="/{{ type }}/{% if object.subcategory %}{{ object.subcategory.alias }}/{% endif %}{{ object.alias }}/">{{ object.name }}</a></h2>
                    <div class="intro-content d-flex justify-content-start">
                        <a href="/{{ type }}/{% if object.subcategory %}{{ object.subcategory.alias }}/{% endif %}{{ object.alias }}/">
                            <img class="news-cover" src="{{ MEDIA_URL }}{{ object.news_cover }}">
                        </a>
                        <a href="/{{ type }}/{% if object.subcategory %}{{ object.subcategory.alias }}/{% endif %}{{ object.alias }}/">
                            {{ object.intro }}
                            <img src="{% static "img/arrow.png" %}"/>
                        </a>
                    </div>
                    <div class="article-datetime">{{ object.published_date }}</div>
                </article>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}