{% extends 'main.html' %}

{% block meta %}
    <meta name="description" content="{{ meta_description }}">
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <section class="col news_one">
        <h1 class="page-header">{{ object.name }}</h1>
        <div class="section-content">
            <article>
                {{ object.body|safe }}
            </article>
        </div>
    </section>
{% endblock %}