<nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav ml-auto mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/calculator/">Когда на пенсию</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/articles/">Статьи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/news/">Новости</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contacts/">Контакты</a>
            </li>
        </ul>
    </div>
</nav>