{% load staticfiles %}
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png' %}"></a>
    <div class="mobile-buttons-conatainer">
        <button class="navbar-toggler calculator-toggler">
            <span class="oi calculator-icon" data-glyph="calculator" title="calculator" aria-hidden="true"></span>
        </button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/calculator/">Когда на пенсию</a>
            </li>
            {% if articles_submenu %}
                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Статьи
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     {% for item in articles_submenu %}
                        <a class="dropdown-item" href="/articles/{{ item.alias }}/">{{ item.name }}</a>
                     {% endfor %}
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/articles/">Статьи</a>
                </li>
            {% endif %}
            {% if news_submenu %}
                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Новости
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     {% for item in news_submenu %}
                        <a class="dropdown-item" href="/articles/{{ item.alias }}/">{{ item.name }}</a>
                     {% endfor %}
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/news/">Новости</a>
                </li>
            {% endif %}
            {% for page in pages %}
                <li class="nav-item">
                    <a class="nav-link" href="/{{ page.alias }}/">{{ page.name }}</a>
                </li>
            {% endfor %}

        </ul>
    </div>
</nav>