{% load staticfiles %}
{% load top_menu %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block meta %}
    {% endblock %}
	<title>{% block title %} {% endblock %} — NAPENSIYU.RU</title>
	<link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'libs/bootstrap-datimepicker/css/bootstrap-datetimepicker.min.css' %}?b=0001">
	<link rel="stylesheet" href="{% static 'libs/open-iconic/css/open-iconic.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block custom_styles %}

    {% endblock %}
</head>
<body>
	<div class="container">
		<header>
            {% top_menu %}
			<div class="col-xl-5 col-lg-6 row calculator-desktop-form" style="height: 250px;">
				<div class="col">
					<form action="/calculator/" id="header_form" method="get">
						<div class="form-group">
						    <label class="mb-0" for="datetime-peacker">Выберите дату рождения:</label>
                            {{ header_template_form.birthday_date }}
                            <div class="invalid-feedback">
                                {{ form.birthday_date.errors|first }}
                            </div>
						</div>
						<div class="form-group">
							<label class="mb-0">Пол:</label>
							<div class="form-group">
                                {% for choice in header_template_form.gender %}
                                    <div class="custom-control custom-radio custom-control-inline">
                                        {{ choice.tag }}
                                        <label class="custom-control-label" for="{{ header_template_form.gender.field.widget.attrs.id }}_{{ forloop.counter0 }}">{{ choice.choice_label }}</label>
                                    </div>
                                {% endfor %}
							</div>
						</div>
						<div class="form-group">
						    <label class="mb-0" for="country">Страна:</label>
                            {{ header_template_form.country }}
						</div>
					</form>
				</div>
				<div class="col my-auto">
					<button onclick="$('#header_form').submit()">ПОСЧИТАТЬ</button>
				</div>
			</div>
		</header>
		<main>
			{% block content %}
            {% endblock %}
		</main>
		<footer>
			{% include '_foooter_menu.html' %}
			<div class="copiright text-center">@napensiyu.ru / Все права защищены</div>
		</footer>
	</div>
	<div class="mobile-calculator-form-popup">
		<div class="container">
					<form action="/calculator/" method="get">
						<div class="form-group">
						    <label class="mb-0" for="datetime-peacker">Выберите дату рождения:</label>
						    {{ popup_template_form.birthday_date }}
                            <div class="invalid-feedback">
                                {{ form.birthday_date.errors|first }}
                            </div>
						</div>
						<div class="form-group">
							<label class="mb-0">Пол:</label>
                            <div>
                                {% for choice in popup_template_form.gender %}
                                    <div class="custom-control custom-radio custom-control-inline">
                                        {{ choice.tag }}
                                        <label class="custom-control-label" for="{{ popup_template_form.gender.field.widget.attrs.id }}_{{ forloop.counter0 }}">{{ choice.choice_label }}</label>
                                    </div>
                                {% endfor %}
							</div>
						</div>
						<div class="form-group">
						    <label class="mb-0" for="country">Страна:</label>
						    {{ popup_template_form.country }}
						</div>
						<div class="form-group">
							<button type="submit">ПОСЧИТАТЬ</button>
						</div>
					</form>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'libs/bootstrap-datimepicker/js/moment-with-locales.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'libs/bootstrap-datimepicker/js/bootstrap-datetimepicker.min.js' %}?v=0001"></script>
	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>