@mixin header_footer_shadow($verticalLength) {
	box-shadow: 0px $verticalLength 18px -7px rgba(0,0,0,0.64);
}

@mixin font($fontSize: 15px, $fontFamily: "Myriad Pro Regular", $fontWeight: "normal") {
	font-family: $fontFamily;
	font-weight: $fontWeight;
	font-size: $fontSize;
}

@mixin menu_border_radius($radius) {
		border-top-left-radius: $radius;
		border-bottom-left-radius: $radius;

}

@mixin mobile_menu_border_radius($radius) {
	> .nav-item:first-child {
			@include menu_border_radius(0);
			border-top-left-radius: $radius;
			border-top-right-radius: $radius;
	}
	> .nav-item:last-child {
			border-bottom-left-radius: $radius;
			border-bottom-right-radius: $radius;
	}
}

@mixin text_decoration_none($color: black) {
	text-decoration: none;
	color: black;
}

@mixin calculator-box-shadow {
	box-shadow: 4px 4px 12px -4px rgba(0,0,0,0.75);
}

@mixin calculate_form_inputs {
	label {
			font-size: 18px;
	}
	input, select {
		font-size: 18px;
		height: 30px;
		border-radius: 20px;
		border-color: #949494;
		-webkit-appearance: none;
  		-webkit-border-radius: 20px;
	}
	select {
		padding-top: 0;
	}
	button {
		border: none;
		background: #d86a43;
		height: 66px;
		width: 100%;
		font-size: 28px;
		color: white;
		border-radius: 50px;
	}
}

@mixin calculation_form_params($borderRadius) {
		background: white;
		border-radius: $borderRadius;
		@include calculator-box-shadow;
		padding: 23px 50px; 
		@include calculate_form_inputs;
}