@import "fonts";
@import "variables";
@import "mixins";

body {
	@include font;
}

@for $i from 5 to 15 {
	.mt-#{$i} {
		margin-top: #{$i}px;
	}
}

header {
	padding-bottom: 90px;
	background: url('../img/header_bg.png');
	@include header_footer_shadow(6px);
	.navbar-brand > img {
		max-width: 285px;
	}

	.mobile-buttons-conatainer {
		display: flex;
		.calculator-toggler {
			padding: 10px 13px 5px 13px;
		}
		.calculator-icon {
			color: white;
			padding-top: 10px;
		}
	}

	.calculator-desktop-form {
		background: white;
		@include calculator-box-shadow;
		border-top-right-radius: 120px;
		border-bottom-right-radius: 120px;
		padding-top: 18px;
		margin-left: 0px;
		> div {
			padding-right: 10px;
			padding-left: 0px;
		}
		@include calculate_form_inputs;
	}
}

.navbar {
	padding-right: 0;
	.navbar-toggler {
	border-color: white;
	margin-right: 10px;
		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");				
		}
	}
	
	.nav {
		box-shadow: 10px 9px 22px -7px rgba(0,0,0,0.75);
		> .nav-item {
			background: #fff;
			&:first-child {
				@include menu_border_radius($menu_border_radius);
			}
			&:hover {
				text-decoration: underline;
			} 
			> .nav-link {
				font-size: 24px;
				color: black;
				padding: 0.1rem 1.4rem;
			}
		}
	}
}

main {
	> .row {
		margin-right: 0;
		margin-left: 0;
	}
	section.news_one {
		padding-left: 10%; 
		padding-right: 10%;
		h1, .article-datetime {
			padding-left: 15px;
			padding-right: 15px;
		}
		article > .row {
			margin-left: 0;
			margin-right: 0;
		}
	}
	min-height: 300px;
	padding-top: 50px;

	.page-header {
		font-size: 60px;
		padding-bottom: 40px;
	}
	h1.page-header {
		padding-bottom: 0px;
	}
	article {
		margin-bottom: 30px;
		h2 {
			font-size: 36px;
			> a {
				@include text_decoration_none;
				&:hover {
					@include text_decoration_none;
				}
			}
		}
		.intro-content {			
			> a {
				color: #949494;
				text-decoration: none;
			}
			.news-cover {
				margin-right: 10px;
			}
		}
		.article-datetime {
			margin-top: 7px;
			color: #625d3b;
		}
		.italic {
			@include font($fontSize: 24px, $fontFamily: "Myriad Pro Condensed Italic", $fontWeight: "normal");
		}
	}
	.page-calculation-form {
		@include calculation_form_params(60px);
		.form-group {
			margin-bottom: 10px;
		}
		button {
			width: 200px;
		}
	}
	.result {
		margin-top: 50px;
		font-size: 25px;
		margin-bottom: 20px;
	}
	.low {
		margin-bottom: 100px;
	}
}

.form-control.is-invalid {
	background: none;
}

footer {
	background: url('../img/foooter_bg.png');
	padding-top: 37px;
	@include header_footer_shadow(-6px);

	.nav > .nav-item:last-child {
		border-top-right-radius: $menu_border_radius;
		border-bottom-right-radius: $menu_border_radius;
	}
	.copiright {
		font-size: 14px;
		margin-top: 35px;
	}
}

.mobile-calculator-form-popup {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	margin-top: 50px;

	.container {
		@include calculation_form_params(10px);
	}
}

@media screen and (max-width: 1199px) {
  header .navbar-brand > img {
  	max-width: 240px;
  }
  .navbar .nav > .nav-item > .nav-link {
  	padding: 0.1rem 0.6rem;
  }
}

@media screen and (max-width: 991px) {
	header{ 
		padding-bottom: 0;
		height: 56px;
		.navbar-brand > img {
			max-width: 110px;
		}
	}
	.navbar .nav {
		@include mobile_menu_border_radius(10px);
		border-radius: 10px;
		> .nav-item {
			> .nav-link {
				font-size: 15px;
			}
			> .nav-link.dropdown-toggle {
				&:after {
					float: right;
					content: url('../img/menu_arrow_down.png');
					border-top: .2em solid;
					border-color: transparent;
				}
			}
			.dropdown-menu {
				border: none;
				padding-top: 0;
				a {
					font-size: 15px;
					&:nth-child(odd) {
						background: #dddddd;
					}
					&:nth-child(even) {
						background: #e8e8e8;
					}
				}
			}
		}
		> .nav-item.show {
			> .nav-link.dropdown-toggle {
				background: #e8e8e8;
				&:after {
					content: url('../img/menu_arrow_up.png');
				}
			}
		}
	}
	.navbar-collapse {
		z-index: 1;
	}

	body > .container {
		padding-right: 0;
		padding-left: 0;
	}
	main section.news_one {
		padding-left: 0; 
		padding-right: 0;
		h1 {
			font-size: 30px;
		}
	}
	.calculator-desktop-form {
		display: none;
	}
	footer {
		padding-top: 10px;
		padding-bottom: 10px;
		.navbar {
			display: none;
		}
		.copiright {
			color: white;
			margin-top: 0;
		}
	}
}

@media screen and (max-width: 767px) {
	footer {
		margin-top: 30px;
	}
	section {
		.page-header {
			font-size: 50px;
		}
		.page-header.inactive {
			cursor: pointer;
			background: #d0d0d0;
			color: white;
			padding: 0px 10px;
			&:after {
				float: right;
				content: url('../img/down.png');
			}
		}

	}
}

@media screen and (max-width: 575px) {
	.mobile-calculator-form-popup {
		padding-left: 10px;
		padding-right: 10px;
	}
	.intro-content img {
		display: none;
	}
}