{% extends 'main.html' %}

{% load staticfiles %}

{% block title %}
    Главная
{% endblock %}

{% block content %}
    <div class="row">
        <section class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="page-header">Новости</div>
            <div class="section-content">
                {% for item in last_news %}
                    <article>
                        <h2><a href="/news/{% if item.subcategory %}{{ item.subcategory.alias }}/{% endif %}{{ item.alias }}/">{{ item.name }}</a></h2>
                        <div class="intro-content">
                            <a href="/news/{% if item.subcategory %}{{ item.subcategory.alias }}/{% endif %}{{ item.alias }}/">
                                {{ item.intro }}
                                <img src="{% static "img/arrow.png" %}" alt="">
                            </a>
                        </div>
                        <div class="article-datetime">{{ item.published_date }}</div>
                    </article>
                {% endfor %}
            </div>
        </section>
        <section class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="page-header">Статьи</div>
            <div class="section-content">
                {% for item in last_articles %}
                    <article>
                        <h2><a href="/articles/{% if item.subcategory %}{{ item.subcategory.alias }}/{% endif %}{{ item.alias }}/">{{ item.name }}</a></h2>
                        <div class="intro-content">
                            <a href="/articles/{% if item.subcategory %}{{ item.subcategory.alias }}/{% endif %}{{ item.alias }}/">
                                {{ item.intro }}
                                <img src="{% static "img/arrow.png" %}" alt="">
                            </a>
                        </div>
                        <div class="article-datetime">{{ item.published_date }}</div>
                    </article>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}